/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css
	
*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Roboto Condensed", arial, verdana, sans-serif;
font-weight:normal;
}

thead th,
tbody th{
font-family: "Roboto Condensed", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Roboto Condensed", arial, verdana, sans-serif;
}

.menu{
font-family: "Roboto Condensed", arial, verdana, sans-serif;
}

blockquote{
font-family: "Roboto Condensed", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
width:990px;
margin:0 auto 0 auto;
padding:0 0 0 0;
color:#000;
background-color: #ffffff;
background-image: url(css/img/gray_jean.png) no-repeat;
font:normal 0.9em/150% 'Roboto Condensed', arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#wrap{
width: 990px;
background:#fff;
margin:30px auto 30px auto;
padding:0;
border:2px solid #ccc;
}

header{
	background: #ffed3e; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffed3e 0%, #fbce1a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffed3e), color-stop(100%,#fbce1a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffed3e 0%,#fbce1a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffed3e 0%,#fbce1a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffed3e 0%,#fbce1a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffed3e 0%,#fbce1a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffed3e', endColorstr='#fbce1a',GradientType=0 ); /* IE6-9 */
	float: left;
	height: 200px;
	width: 990px;
	}
header #header-top {
	background:url('images/bg-pattern.png') no-repeat;
	float:left;
	width: 990px;
border:0 0 5px #e04a24;}
header #header-logo{ 
	float:left;
	width: 445px;}
header #header-search{
	float:left;
	width:445px;
}

footer {
	clear:both;
	float:left;
	width:990px;
	height:200px;
	border-top: 5px solid #6f92c5;
	background: #008fd4; /* Old browsers */
	background: -moz-linear-gradient(top,  #008fd4 0%, #8531e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008fd4), color-stop(100%,#8531e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #008fd4 0%,#8531e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #008fd4 0%,#8531e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #008fd4 0%,#8531e9 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008fd4', endColorstr='#8531e9',GradientType=0 ); /* IE6-9 */
	background-color: linear-gradient(;
	fbackground-position: top;

}
footer #footer-bottom {
	background: url(images/bg-pattern.png) no-repeat;
	float:left;
	width: 990px;
	height: 200px;
}

	#link-top{
	display:none;
	}
	
/* NAV BAR*/
.navbar{
/*position:fixed;*/
top:0;
left:0;
width: 990px;
float:left;
background: #f89e01;
color:#fff;
z-index:1000;
}
header .navbar {
	border-top:5px solid #f8bc55;
	padding-left:4em;
}
	.navbar #logo{
	position:absolute;
	top:0;
	right:0;
	padding:0.5em 1em;
	font-size: 1.7em;
	color:#efefef;
	text-decoration:none;
	}
	
	.navbar span{
	color:#86dc00;
	}
	
	
	.navbar ul{
	display:inline-block;
	margin:0;
	padding:0;
	}
	
		.navbar li{
		margin:0;
		padding:0;
		list-style-type:0;
		display:inline-block;
		}
		
		.navbar li a{
		display:inline-block;
		color:#efefef;
		padding:1em 1.3em;
		text-decoration:none;
		line-height:100%;
		font-size: 1.2em;
		}
		
/*---------------------------------
	MENU STYLES
	EDIT BELOW THIS LINE TO CUSTOMIZE
-----------------------------------*/
.menu{
background: #f89e01;
}
	.menu li{}
	
		.menu li a{
		text-shadow:0px 1px 1px #fff;
		padding:15px 20px;
		text-decoration:none;
		font-size: 0.9em;
		line-height:90%;
		color: #462d00;
		}
		
		.menu li.current>a,
		.menu li.current>a:hover,
		.menu li.current.hover>a{
		background: #462d00; /* Old browsers */
		
		color:#f89e01;
		text-shadow:0px -1px 0px rgba(0,0,0,0.2);
		cursor: default;
		}
		
		.menu li a:hover,
		.menu li.hover>a{
		background:#f5f5f5;
		}
		
	/* sub menus */
	.menu ul{
	background: #efefef;
	/*border:1px solid #ccc;*/
	}
	
	.menu ul li{}
	.menu ul li a{}
	
		/* sub-sub menus */
		.menu ul ul{}
		.menu ul ul li{}
		.menu ul ul li a{}
		
	/* arrows */
	/* arrow down */  .menu li.has-menu span.arrow{border-color-top:#ccc;border-color:#ccc transparent transparent transparent;}
	/* arrow left */  .menu li li.has-menu span.arrow, .menu.vertical li.has-menu span.arrow
					   {border-color-left:#ccc;border-color:transparent transparent transparent #ccc;}
	/* arrow right */ .menu.vertical.right li.has-menu span.arrow{border-color-right:#ccc;border-color:transparent #ccc transparent transparent;}
	
	/* dividers */ 	  .menu ul li.divider{border-top:1px solid #ccc;}
					  .menu ul li.divider a{border-top:1px solid #fff;}

.menu-2{
/*border:1px solid #ccc;*/
background: #f89e01; 
}

	.menu-2 li{}
	
		.menu-2 li a{
		text-shadow:0px 1px 1px #fff;
		padding:15px 20px;
		text-decoration:none;
		font-size:0.9em;
		color: #462d00;
		}
		
		.menu-2 li.current>a,
		.menu-2 li.current>a:hover,
		.menu-2 li.current.hover>a{
		background: #462d00; /* Old browsers */
		
		color:#f89e01;
		text-shadow:0px -1px 0px rgba(0,0,0,0.2);
		cursor: default;
		}
		
		.menu-2 li a:hover,
		.menu-2 li.hover>a{
		background:#f5f5f5;
		}
		
	/* sub menus */
	.menu-2 ul{
	background: #efefef;
	/*border:1px solid #ccc;*/
	}
	
	.menu-2 ul li{}
	.menu-2 ul li a{}
	
		/* sub-sub menus */
		.menu-2 ul ul{}
		.menu-2 ul ul li{}
		.menu-2 ul ul li a{}
		
	/* arrows */
	/* arrow down */  .menu-2 li.has-menu span.arrow{border-color-top:#ccc;border-color:#ccc transparent transparent transparent;}
	/* arrow left */  .menu-2 li li.has-menu span.arrow, .menu-2.vertical li.has-menu span.arrow
					   {border-color-left:#ccc;border-color:transparent transparent transparent #ccc;}
	/* arrow right */ .menu-2.vertical.right li.has-menu span.arrow{border-color-right:#ccc;border-color:transparent #ccc transparent transparent;}
	
	/* dividers */ 	  .menu-2 ul li.divider{border-top:1px solid #ccc;}
					  .menu-2 ul li.divider a{border-top:1px solid #fff;}

.callout{
background:#4598ef;/*#86dc00;*/
padding:3em 0;
color:#fff;
box-shadow:inset 0px 0px 10px rgba(0,0,0,0.2);
text-align: center;
text-shadow:0px 1px 3px rgba(0,0,0,0.2);
display:block;
}
	.callout + div.grid{margin-top:50px;}
	 a.callout{cursor:pointer;}
	 .callout i.icon-4x{font-size:6em;}
	 .callout h4{margin-bottom:30px;}
	 .callout-top{margin:50px 0 0 0;}
	 .callout p{margin-bottom:0;}
	 .callout .button{margin-top:10px;}
	 .callout.green{background:#19ad0b;/*#86dc00;*/}
	 
#mc_embed_signup{
padding:30px 0;
}

#ui-preview{
border:5px solid #ddd;
margin:30px 0;
display:block;
}
#wrap #top-gradient {
	border-top:5px solid #f8bc55;
	float:left;
	width:990px;
	height:40px;
	margin-top: 29px;
	background: #fbce1a; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbce1a 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbce1a), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbce1a 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbce1a 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbce1a 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbce1a 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbce1a', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


}
#wrap #row_1 {
	float:left;
	width:990px;
}
#wrap #row_1 img{
	float: right;
	/*max-width: 500px*/;
}

#wrap #row_1 ul li h1,h2,h3 {
	float:left;
	/*color:#1b67d8;*/
	width:440px;
}

#wrap #row_1 ul li {
	float:left;
	width:440px;
	/*background-color: #ffffff;*/
}
#wrap #row_2 {
	float: left;;
	width: 990px;
	background-color: #fff;
	border-bottom: 5px solid #6f92c5;
}

#wrap #row_2 .col_6 {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #f89e01;
	padding: 1em;
	min-height: 390px;
	color:#1b67d8;
}

#wrap h1 i{
	color: #ccc;
	padding-right:.3em;
}
#wrap #row_1 h2{
	padding-top: .4em;
}
#wrap #bottom-gradient {
	float:left;
	width:990px;
	height:40px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #008fd4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#008fd4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#008fd4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#008fd4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#008fd4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#008fd4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#008fd4',GradientType=0 ); /* IE6-9 */
}


#wrap h1,h2,h3 {
	text-height:100%;
	color: #4D99E0;
	padding-left: .4em;
	font-weight: 700;
}
#header-search {
	margin-top: 2em;
}

#facebook-info i{
	background-color:#fff;
	padding: 1px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 3px solid #fff;
	box-shadow: 0px 3px 3px 0px #bbb;
	}

#search-field{
	position: relative;
	top:-6px;
	background-color:#fff;
	margin-left: .5em;
	padding: 5px 8px 8px 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 3px solid #fff;
	box-shadow: 0px 3px 3px 0px #bbb;
	}

#wrap  p{
	margin-left: 1.2em;
}
#wrap ul {
	display: block;
}
#wrap ul li {
	list-style: none;
}
#wrap a {
	text-decoration: none;
}
#navbar-footer .navbar{
	padding-left: 4em;
}
#navbar-footer ul a{
	color: #fff;
	background: #1b67d8;
}
#navbar-footer .current ul li a {
	color: #fff;
	background: #0d3269;
}
#navbar-footer ul .current li a:hover{
	color: #0d3269;
	background: #fff;
}
#navbar-footer .navbar .menu, #navbar-footer .navbar{
	background: #1b67d8;
}
li .icon-facebook-sign {
	line-height: 100%;
}
#navbar-footer .menu li a {
text-shadow: none;
}
#navbar-footer .menu li a:hover,
		.menu li.hover>a {
		background:#f5f5f5;
		color:#1b67d8;
		}

#navbar-footer 
	.menu li.current>a,
	.menu li.current>a:hover,
	.menu li.current.hover>a{
		background: #0d3268; /* Old browsers */
		
		color:#fff;
		text-shadow:0px -1px 0px rgba(0,0,0,0.2);
		cursor: default;
		}
#wrap .col_6 img{
	float:right;
}
body p, li .col_5, #wrap .col_6 li, #wrap .col_6 li a{
	font-family: 'Trebuchet MS', arial, verdana, sans-serif;
	color: #081f42;
}

#wrap .col_6 li a:hover{
	border-bottom: 1px solid;
}

address {
	float: left;
	padding-left: 2.5em;
}
address h2{
	font-style: "Roboto", arial, verdana, sans-serif;
	color: #fff;
	font-style: normal;
	font-weight: 700;
}
address p{
	font-style: "Roboto", arial, verdana, sans-serif;
	color: #fff;
	font-style: normal;
	margin-left: .5em;
}
#row_2 .col_5{
	padding-left: 2.5em;
}

