/* Fonts */

@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');


h1,h2,h3,h4,h5 {
    font-family: "Roboto Condensed", arial, verdana, sans-serif;
}

body {
	width:990px;
	float:left;
}

#wrap {
	width:990px;
	float:left;
	left-margin:auto;
	right-margin:auto;
}

header {
    width:990px;
    float: left;
    height: 180px;
    background: #ffed3e;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZWQzZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmNlMWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffed3e 0%, #fbce1a 100%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(top, #ffed3e 0%, #fbce1a 100%);
    /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #ffed3e 0%, #fbce1a 100%);
    /* W3C */
    filter: progid:DXImageTransfor
}
#header-top {
    float:left;
    width: 940px;
    background: url('http://www.renderingfactory.com/hds-test/images/bg-pattern.png') no-repeat;
}

.navbar {
    font-family: "Roboto Condensed", arial, verdana, sans-serif;
    position:relative;
    width: 940px;
    float: left;
    background-color: #f89e01;
    z-index:1000;
    border-top: 5px solid #fcb560;
    border-bottom: 5px solid #fcb560;
    -webkit-box-shadow: 0 1px 1px 1px ccc;
    -moz-box-shadow: 0 1px 1px 1px ccc;
    box-shadow: 0 1px 1px 1px ccc;
}
.navbar {
    padding-left:4em;
}
.navbar #logo {
    position:absolute;
    top:0;
    right:0;
    padding:0.5em 1em;
    font-size: 1.7em;
    color:#efefef;
    text-decoration:none;
}
.navbar span {
    color:#86dc00;
}
.navbar ul {
    display:inline-block;
    margin:0;
    padding:0;
}
.navbar li {
    margin:0;
    padding:0;
    list-style-type:0;
    display:inline-block;
}
.navbar li a {
    display:inline-block;
    color:#462d00;
    padding:1em 1.3em;
    text-decoration:none;
    line-height:100%;
    font-size: .8em;
}
.menu{
background: #f89e01
float:left;
width:990px;
}
	.menu li{}
	
		.menu li a{
		text-shadow:0px 1px 1px #fff;
		/*padding:15px 20px;*/
		text-decoration:none;
		font-size: 0.9em;
		line-height:80%;
		color: #462d00;
		}
		
		.menu li.current>a,
		.menu li.current>a:hover,
		.menu li.current.hover>a{
		background: #462d00; /* Old browsers */
		
		color:#f89e01;
		text-shadow:0px -1px 0px rgba(0,0,0,0.2);
		cursor: default;
		}
		
		.menu li a:hover,
		.menu li.hover>a{
		background:#f5f5f5;
		}
		
	/* sub menus */
	.menu ul{
	background: #efefef;
	/*border:1px solid #ccc;*/
	}
	
	.menu ul li{}
	.menu ul li a{}
	
		/* sub-sub menus */
		.menu ul ul{}
		.menu ul ul li{}
		.menu ul ul li a{}
		
	/* arrows */
	/* arrow down */  .menu li.has-menu span.arrow{border-color-top:#ccc;border-color:#ccc transparent transparent transparent;}
	/* arrow left */  .menu li li.has-menu span.arrow, .menu.vertical li.has-menu span.arrow
					   {border-color-left:#ccc;border-color:transparent transparent transparent #ccc;}
	/* arrow right */ .menu.vertical.right li.has-menu span.arrow{border-color-right:#ccc;border-color:transparent #ccc transparent transparent;}
	
	/* dividers */ 	  .menu ul li.divider{border-top:1px solid #ccc;}
					  .menu ul li.divider a{border-top:1px solid #fff;}

#top-gradient {
	margin:0;
    padding:0;
    float:left;
	width:990px;
	height:40px;
	background: #fbce1a; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbce1a 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbce1a), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbce1a 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbce1a 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbce1a 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbce1a 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbce1a', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Let the jumbotron breathe */
  .jumbotron {
    margin-top: 20px;
  }
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
}
.col_6 {
	float:left;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #f89e01;
	padding: 1em;
	min-height: 390px;
	color:#1b67d8;
}
#navbar-footer .navbar{
    position: relative;
	width: 990px;
	float: left;
    border-top: 5px solid #8dd5ec;
	border-bottom: 5px solid #8dd5ec;
	background-color: #1b67d8;}
#navbar-footer ul a{
	color: #fff;
	background-color: #1b67d8;
}
#navbar-footer .current ul li a {
	color: #fff;
	background: #0d3269;
}
#navbar-footer ul .current li a:hover{
	color: #0d3269;
	background: #fff;
}
#navbar-footer .navbar{
	background: #1b67d8;
}
li .icon-facebook-sign {
	line-height: 100%;
}
#navbar-footer .menu li a {
text-shadow: none;
}
#navbar-footer .menu li a:hover,
		.menu li.hover>a {
		background:#f5f5f5;
		color:#1b67d8;
		}

#navbar-footer 
	.menu li.current>a,
	.menu li.current>a:hover,
	.menu li.current.hover>a{
		background: #0d3268; /* Old browsers */
		
		color:#fff;
		text-shadow:0px -1px 0px rgba(0,0,0,0.2);
		cursor: default;
		}

	#navbar-footer .menu li a i{
		color:#fff;
	}
footer {
	clear:both;
	float:left;
	width:990px;
	height:180px;
	background: #008fd4; /* Old browsers */
	background: -moz-linear-gradient(top,  #008fd4 0%, #8531e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008fd4), color-stop(100%,#8531e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #008fd4 0%,#8531e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #008fd4 0%,#8531e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #008fd4 0%,#8531e9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008fd4', endColorstr='#8531e9',GradientType=0 ); /* IE6-9 */
	background-color: linear-gradient(;
	fbackground-position: top;


}
footer #footer-bottom {
	float:left;
	width: 990px;
	height: 180px;
	background:url('http://www.renderingfactroy/com/hds-test/images/bg-pattern.png') no-repeat;
}
<<<<<<< HEAD
.navbar a i{
    margin-right:1em;}
}
=======
#row_2 .col_5{
	padding-left: 2.5em;
}

>>>>>>> parent of 4ac48e6... Revert "Added products page"
