/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css
	
*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Roboto Condensed", arial, verdana, sans-serif;
	font-weight:normal;
	font-style: normal;
}

thead th,
tbody th{
font-family: "Roboto Condensed", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Roboto Condensed", arial, verdana, sans-serif;
}

.menu{
font-family: "Roboto Condensed", arial, verdana, sans-serif;
}

blockquote{
font-family: "Roboto Condensed", arial, verdana, sans-serif;
}
.col_6 {
font-family: "Trebuchet MS", arial, verdana, sans-serif;
	color: #081f42;
}
address p{
	font-style: normal;
}
/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
width:990px;
margin:0 auto 0 auto;
padding:0 0 0 0;
color:#000;
background-color: #ffffff;
/*background-image: url(css/img/gray_jean.png) no-repeat;*/
font:normal 0.9em/150% 'Roboto Condensed', arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#wrap{
width: 990px;
background:#fff;
margin:30px auto 30px auto;
padding:0;
border:2px solid #ccc;
}

header{
	float: left;
	height: 200px;
	width: 990px;
	background: #ffed3e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZWQzZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmNlMWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
	background: -moz-linear-gradient(top,  #ffed3e 0%, #fbce1a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffed3e), color-stop(100%,#fbce1a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffed3e 0%,#fbce1a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffed3e 0%,#fbce1a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffed3e 0%,#fbce1a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffed3e 0%,#fbce1a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffed3e', endColorstr='#fbce1a',GradientType=0 ); /* IE6-8 */

	}
header #header-top {
	float:left;
	width: 990px;
	height:200px;
	background: url('images/bg-pattern.png') no-repeat;
	border-bottom: 5px #e04a24;

	}
header #header-logo{ 
	float:left;
	width: 445px;}
header #header-search{
	float:left;
	width:445px;
}

#wrap .navbar li a {
	text-shadow: 0px -1px 0px #f8bc55;
	font-size: .8em;
}
#wrap .menu li a:hover{
	color: #f89e01;
	background: #462d00;
	text-shadow: 0px -1px 0px #ccc;
}
#top-gradient {
	float:left;
	width:990px;
	height:40px;
	background: #fbce1a; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbce1a 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbce1a), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbce1a 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbce1a 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbce1a 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbce1a 0%,#ffffff 100%); /* W3C */
	}
#wrap #row_1 {
	float:left;
	width:990px;
}
body p, li .col_5, #wrap .col_6 li, #wrap .col_6 li a{
	font-family: 'Trebuchet MS', arial, verdana, sans-serif;
	color: #081f42;
}
#row_1 {
	float: left;
	width: 990px;
	padding-top: 25px;
	margin-bottom: 1em;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	border: 1px solid #f89e01;
	left: 0px;
	background: #fff;
}
#row_1 .bx-wrapper .bx-viewport
	{width: 80%;}
#wrap #row_1 img{
	float: right;
}
#row_1 .col_6
	h1, p{
	width:100%;
}
#wrap #row_1 ul li h1,h2,h3 {
	float:left;
	color:#1b67d8;
	}
#row_1 .col_6 {
	padding: 1em;
	color:#1b67d8;
	border: none;
}
#row_1 li {
	float:left;
	width:90%;
}
#row_2 {
	float: left;
	width: 990px;
}
#row_2 .col_6 {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #f89e01;
	padding: 1em;
	min-height: 390px;
	color:#1b67d8;
}
#row_2 li {
	list-style: none;
}
#row_2 a {
	text-decoration: none;
}
#row_2 a:hover {
	border-bottom: 1px solid #1b67d8;
}
#row_2 .col_6 img{
	float:right;
}
#row_2 i {
	color: #ccc;
	padding-right: .5em;
	margin-left: .5em;
}
#row-2 p{
	margin-left: 16px;}

div.caption span {
max-width:100px;
display: block;
margin-top: 100px;
font-size: 0.8em;
font-weight: 700;
color: #666;
text-align: center;
padding: 0px 5px;}

#bottom-gradient {
	float:left;
	width:990px;
	height:40px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #008fd4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#008fd4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#008fd4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#008fd4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#008fd4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#008fd4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#008fd4',GradientType=0 ); /* IE6-9 */
}
#navbar-footer .navbar{
		background: #1b67d8;
	    border-top: 5px solid #7aa0d8;
	    border-bottom: 5px solid #7aa0d8;
}
}
#navbar-footer .navbar li a{
	color:#fff;
	background:#1b67d8;
}
#navbar-footer .menu li.current>a, .menu li.current>a:hover, .menu li.current.hover>a {
	background:#0d336c;
	color:#fff;
}
#navbar-footer .navbar li a {
	color:#fff;
	background-color:#1b67d8;}
#navbar-footer .menu {
	background: none;
}
#navbar-footer .menu li a {
	text-shadow: 0px 1px 1px #0d336c;
}
#navbar-footer .menu ul li a:hover {
	color: #fff;
	background: #0d336c;
	text-shadow: 0px -1px 0px #ccc;}

#footer-bottom {
	float:left;
	width: 990px;
	height: 200px;
	background: url('images/bg-pattern.png') no-repeat;}
address {
	color:#ffffff;
	font-style: normal;
	padding-left: 4em;
	padding-top: 1em;
}
address p {
	color: #fff;
}
.bolder-bigger {
	font-weight: 700;
	font-size: 2em;
}
footer {
	clear:both;
	float:left;
	width:990px;
	height:200px;
	background: #008fd4; /* Old browsers */
	background: -moz-linear-gradient(top,  #008fd4 0%, #8531e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008fd4), color-stop(100%,#8531e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #008fd4 0%,#8531e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #008fd4 0%,#8531e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #008fd4 0%,#8531e9 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008fd4', endColorstr='#8531e9',GradientType=0 ); /* IE6-9 */
	background-color: linear-gradient(;
	fbackground-position: top;

}

	





#wrap h1 i{
	color: #ccc;
	padding-right:.3em;
}
#wrap #row_1 h2{
	padding-top: .4em;
}
#wrap h1,h2,h3 {
	text-height:100%;
	color: #4D99E0;
	padding-left: .4em;
	font-weight: 700;
}
#wrap  p{
	margin-left: 1.2em;
}
#wrap ul {
	display: block;
}

#navbar-footer {
	float:left;
	width:990px;
}
#navbar-footer .menu, 
#navbar-footer .navbar{
	background: #1b67d8;
	border-top: none;
	border-bottom: none;
}
#navbar-footer ul a{
	color: #fff;
	background: #1b67d8;
}
#navbar-footer .current ul li a {
	color: #fff;
	background: #0d3269;
}
#navbar-footer ul .current li a:hover{
	color: #0d3269;
	background: #fff;
}

}
li .icon-facebook-sign {
	line-height: 100%;
}
#navbar-footer .menu li a {
text-shadow: none;
}
#navbar-footer .menu li a:hover,
		.menu li.hover>a {
		background:#f5f5f5;
		color:#1b67d8;
		}

#navbar-footer 
	.menu li.current>a,
	.menu li.current>a:hover,
	.menu li.current.hover>a{
		background: #0d3268; /* Old browsers */
		
		color:#fff;
		text-shadow:0px -1px 0px rgba(0,0,0,0.2);
		cursor: default;
		}



#row_2 .col_5{
	padding-left: 2.5em;
}

